.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

/* Estilo de la tabla de asistencia */
.attendance-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Estilo para la fecha y hora actuales */
.date-time {
  width: 100%;
  text-align: center;
}

.date-time span {
  margin: 5px 0;
  font-size: 4em;
  font-family: 'Roboto', arial;
}

.date-time p {
  font-size: 2em;
  font-family: 'Roboto', arial;
  margin: 5px 0;
}

/* Estilo para cada tabla de asistencia */
.checadores {
  align-self: flex-start;
  width: 20%;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
  margin-top: 15px;
  min-height: 25%;
}

/* Estilo para el título de cada tabla de asistencia */
.checadores h2 {
  font-size: 1.5vw; /* Ajustado para responder al tamaño de la ventana visual */
  padding: 0.8vw;
  background-color: #e7e7e7;
  border: 0.2vw solid #ccc;
  border-bottom: none;
  text-align: center;
  font-family: 'Roboto', arial;
  border-radius: 8px;
}

/* Estilo para la información del usuario en la lista */
.user-info {
  font-size: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', arial;
  font-weight: 100;
  margin: 0;
  padding: .4rem; /* Ajustado para responder al tamaño de la ventana visual */
}

.user-info .name, .user-info .date {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 'Roboto', arial;
}
