/* DateTime.css */

.date-time {
    width: 100%;
    text-align: center;
    color: #000000;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .date-time span {
    font-size: 4rem;
  }
  
  .date-time p {
    font-size: 2rem;
    margin: .5rem 0;
  }

@media (min-width: 1920px){
  .date-time{
    margin: 1rem 0 2rem 0;
  }
  .date-time span{
    font-size: 5rem;
  }
  .date-time p{
    font-size: 2.rem;
  }
}
