/* Navbar con Sidebar */
.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: #333;
  color: #ffffff;
  z-index: 1;
}

/*Contenedor del menu, logo y titulo*/
.nav-container {
  width: 100%;
  padding: 0 3rem ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Logo menu*/
.hamburger-lines {
  cursor: pointer;
  height: 1.4rem;
  width: 1.672rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: .25rem;
  width: 100%;
  border-radius: .5rem;
  background: #fff;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.3s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.1s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.3s ease-in-out;
}

.hamburger-lines .line1.open {
  transform: rotate(48deg);
}

.hamburger-lines .line2.open {
  opacity: 0;
}

.hamburger-lines .line3.open {
  transform: rotate(-48deg);
}

/*Menu*/
.menu-items {
  position: fixed;
  top: 10vh; 
  left: -12vw; 
  width: 12vw;
  height: 82vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: left 0.4s ease-in-out;
}

.menu-items.open {
  left: 0;
}

.menu-items li {
  list-style: none;
  margin: 2rem 0;
}

.menu-items a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.menu-items a:hover {
  font-weight: bolder;
}

/*Titulo de la navbar*/
.title a {
  text-decoration: none;
  color: #fff;
  font-size: 1.75rem;
  flex-grow: 1;
}

/*Logo CFE*/
.logo-container {
  width: 8vw;
  text-align: center;
}

.logo {
  width: 100%;
}

@media (min-width:1920px) {
  .hamburger-lines{
    height: 1.6rem;
    width: 1.9rem;
  }

  .menu-items a{
    font-size: 1.4rem;
  }

  .title a{
    font-size: 2.5rem;
  }

}