.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

/*Contenedor del menu, logo y titulo*/
.nav-container {
  width: 100%;
  padding: 0 3rem ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Logo menu*/
.hamburger-lines {
  cursor: pointer;
  height: 1.6rem;
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: .3rem;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.3s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.1s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.3s ease-in-out;
}

.hamburger-lines .line1.open {
  transform: rotate(45deg);
}

.hamburger-lines .line2.open {
  opacity: 0;
}

.hamburger-lines .line3.open {
  transform: rotate(-45deg);
}

/*Menu*/
.menu-items {
  position: fixed;
  top: 10vh; 
  left: -15vw; 
  width: 15vw;
  height: 80vh; 
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: left 0.5s ease-in-out;
}

.menu-items.open {
  left: 0;
}

.menu-items li {
  list-style: none;
  margin: 2rem 0;
}

.menu-items a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.menu-items a:hover {
  font-weight: bolder;
}

/*Titulo de la navbar*/
.title a {
  text-decoration: none;
  color: #fff;
  font-size: 1.9rem;
  flex-grow: 1;
}

/*Logo CFE*/
.logo-container {
  width: 8vw;
  text-align: center;
}

.logo {
  width: 100%;
}

@media (max-width: 1440px) {

  .title{
    text-align: center;
    margin: 0 auto;
  }

  .title a {
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem; /* Tamaño de fuente más pequeño para el título */
    flex-grow: 1; 
  }
  
  /* Logo CFE */
  .logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
  }

  .logo {
    max-width: 45%; /* Tamaño del logo en porcentaje relativo al contenedor */
    height: auto;
  }

@media (max-width: 1280px) {

  .title{
    text-align: center;
    margin: 0 auto;
  }

  .title a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem; /* Tamaño de fuente más pequeño para el título */
    flex-grow: 1; 
  }
  
  /* Logo CFE */
  .logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
  }

  .logo {
    max-width: 40%; /* Tamaño del logo en porcentaje relativo al contenedor */
    height: auto;
  }
}
}