/* Estilos para la barra de navegación */
.navigation-bar {
  display: flex;
  justify-content: space-between; /* Distribuir espacio entre los contenedores */
  align-items: center;
  background-color: #333;
  color: #ffffff;
}

/* Estilo para los contenedores de logo y título */
.logo-container, .title-container {
  padding: 8px;/* Para visualización del contorno */
}

/* Estilos específicos para el contenedor del logo */
.logo-container {
  width: 70px; /* Ajusta el tamaño del contenedor del logo según sea necesario */
  margin-right: -30%;

}

.logo-container:last-child img{
  width: 70px;
  margin-left: -800%;
}

.title-container a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 200%;
}