
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Inicialmente oculto fuera del área visible */
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0; /* Muestra el menú lateral al desplazarlo a la posición visible */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
