.footer {
    position:relative;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Ajustes para diferentes tamaños de pantalla */
@media (max-width: 1200px) {
  .footer p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .footer p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .footer p {
    font-size: 0.8rem;
  }
}
